// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

//FontAwesome
$fa-font-path:"../webfonts";

// Bootstrap
@import '~bootstrap/scss/bootstrap';

//AdminLTE
@import '~admin-lte/dist/css/adminlte.css';

//FontAwesome
@import "~@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import "~@fortawesome/fontawesome-free/scss/solid.scss";
@import "~@fortawesome/fontawesome-free/scss/brands.scss";
@import "~@fortawesome/fontawesome-free/scss/regular.scss";


.nav-badge {
    font-size: 70% !important;
    color: #fff;
    position: absolute;
    right: 0px;
    top: 20px;
}


.content-wrapper.kanban .content {
    overflow: auto !important;
}

.content-wrapper .kanban {
    margin-left: 0px !important;
}

.tribute-demo-input {
    outline: none;
    border: 1px solid #eee;
    padding: 3px 5px;
    border-radius: 2px;
    font-size: 15px;
    min-height: 32px;
    cursor: text;
}

.tribute-demo-input:focus {
    border-color: #d1d1d1;
    background-color: #fbfbfb;
}

[contenteditable="true"]:empty:before {
    content: attr(placeholder);
    display: block;
    color: #ccc;
}